<!--display chef gravatar-->
</br>
<div class="row">
    <div class="col-md-4 col-md-offset-4 center">
        <%= gravatar_for @chef, size: 200 %>
        <hr>
    </div>
</div>

<!--display title from partials page-->
<h2 class="chef-text-showpage"><%= @chef.chefname %></h2> 
<hr>




<!--display chefs recipe listings-->
<div class="container">
 
 <% @recipes.each do |x| %>
        <div class="col-md-4 m-b-lg">
          <div class="panel panel-default panel-profile m-b-0">
            <!--<div class="panel-heading" style="background-image: url(https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9bd244971b9cb52a8418cf2f66fce464);"></div>-->
            <!--<div class="panel-heading"></div>-->
                <%= image_tag(x.picture.url, class: "panel-recipe") if x.picture? %>
                
            <div class="panel-body text-center">
                <section class="panel-profile-recipe-img">
              <%= link_to gravatar_for(x.chef, size: 40), chef_path(x.chef) %>
              
              </section>
              
              <h4><%= link_to x.name, recipe_path(x) %></h4>
              <h2 class="quiet"><%= x.summary.split[0..4].join(" ") %></h2>
              
                  <div class>
                        <span class="icon icon-add-user"></span> <%= link_to 'View recipe', recipe_path(x), class: "btn btn-success btn-small" %>
                    </div> 
                    
                <div class="thumbs">
                    <%= link_to like_recipe_path(x, like: true), method: :post do %>
                    <i class="white glyphicon glyphicon-thumbs-up">&nbsp<%= x.thumbs_up_total %></i>
                    <% end %> &nbsp&nbsp&nbsp&nbsp
                    <%= link_to like_recipe_path(x, like: false), method: :post do %>
                    <i class="white glyphicon glyphicon-thumbs-down">&nbsp<%= x.thumbs_down_total %></i>
                    <% end %>
                    
                </div> 
                </br>
                <div class="styles pull-left">
                <p style="color: #777">Categories: <%= render x.styles %></p>
                </div>
                <div class="ingredient pull-right">
                <p style="color: #777">Ingredients: <%= render x.ingredients %></p>
                </div>
                    
              
              
            </div>
          </div>
        </div>
                    
                 
            
     <% end %>
     
     <!--pagination on bttom -->
      <div class="row">
        <div class="col-md-4 col-md-offset-4 center">
        <%= will_paginate @recipes %>
        </div>
      </div>
    
    	    
            
</div>



